Grid {
    background-color: white;
}

TableView {
    padding: 5px;
    font-size: 14;
    font-weight: 700;
    color: #757575;
}
Label {
    font-size: 18;
    color: #212121;
}
.btn-primary {
    background-color: #2780E3;
    color: white;
}
.btn-gray {
    background-color: #868e96;
    color: white;
}
.btn-secondary {
    background-color: #373a3c;
    color: white;
}
.btn-danger {
    background-color: #FF0039;
    color: white;
}
.btn-success {
    background-color: #3FB618;
    color: white;
}