Grid {
    background-color: white;
}
#nextStep {
    border-radius: 10px;
    background-color: #00b8d4;
    box-shadow: rgba(0,0,0,0.4) 10px 10px inset;
    color: #e0f7fa;
}
#scanFrame {
    background-color: #f44336;
    color: #ffebee;
}
#skip {
    background-color: #bdbdbd;
    box-shadow: rgba(0,0,0,0.4) 10px 10px inset;
    color: #fafafa;
}
#finish {
    border-radius: 10;
    background-color: #43a047;
    color: #e8f5e9;
}

TableView {
    padding: 5px;
    font-size: 14;
    font-weight: 700;
    color: #757575;
}
Label {
    font-size: 18;
    color: #212121;
}
