<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AZURE_STORAGE_CONNECTION_STRING" value="DefaultEndpointsProtocol=https;AccountName=sherpanet;AccountKey=xXQZWGhnEu2SFhvYQ0Sch6HhlzhvVSANF3Lzjyij/+Wjj2rHJBu3IugAaoTyGt07WMTCtytyllGZUJiu7kwSog==;EndpointSuffix=core.windows.net" />
    <add key="AZURE_STORAGE_URL" value="https://sherpanet.blob.core.windows.net/" />
    <add key="MONGODB_CONNECTION_STRING" value="mongodb://blackboxes:9qGikgg1GA7wA77oCjITUHm1kJtRBKsQsOE0CqCPsAvEFxVEfKIWUBlJkezvFI3lv2w3Rx30V4EH7hzgLJlucg==@blackboxes.mongo.cosmos.azure.com:10255/?ssl=true&amp;replicaSet=globaldb&amp;retrywrites=false&amp;maxIdleTimeMS=120000&amp;appName=@blackboxes@"/>
    <add key="MONGODB_DB" value="testcollection" />
    <add key="MONGODB_COLLECTION" value="testcollection" />
    <add key="VENDOR_IDS" value="1305;"/>
    <add key="PRODUCT_IDS" value="8215;"/>
    <add key="OUI_VENDOR_IDS" value="CD2774;886B0F;AAA8AC;211908"/>
    <add key="OUI_TRANSPORTS_IDS" value="886B0F;"/>
  </appSettings>
</configuration>