<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key= "AZURE_STORAGE_CONNECTION_STRING" value="DefaultEndpointsProtocol=https;AccountName=sacoerpconnectfileblob;AccountKey=NQUyxzM8vMrxKggRErxgl3zR77AYKbJboFlNBCPL8XBONoujpHPM8RGqZFV0zXxEdEbHQuAY5lQSUQH2uLmI6g==;EndpointSuffix=core.windows.net" />
    <add key= "MONGODB_CONNECTION_STRING" value="mongodb://sacoerpconnect:jYVUeEg54sMq4Je94FG1YfM3BAN8DkK8AjaaB2S11j6J0DK8XPt6uwldMF1sq5g8ANHo9Ozwws7vczAbj2lIAQ==@sacoerpconnect.documents.azure.com:10255/?ssl=true&replicaSet=globaldb" />
    <add key= "MONGODB_DB" value="sacoerpconnect" />
    <add key= "MONGODB_COLLECTION" value="sacoerpconnect" />

  </appSettings>
</configuration>